/*Fonts*/

@font-face {
	font-family: SourceSansPro-Bold;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-Bold.ttf);
}
@font-face {
	font-family: SourceSansPro-SemiBold;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-Semibold.ttf);
}
@font-face {
	font-family: SourceSansPro-SemiBoldItalic;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-SemiboldItalic.ttf);
}
@font-face {
	font-family: SourceSansPro-Regular;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-regular.ttf);
}
@font-face {
	font-family: SourceSansPro-Light;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-Light.ttf);
}

@font-face {
	font-family: SourceSansPro-ExtraLight;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-ExtraLight.ttf);
}

@font-face {
	font-family: Montserrat-Regular;
	src: url(../assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Montserrat-Bold;
	src: url(../assets/fonts/montserrat/Montserrat-Bold.ttf);
}

/*CSS*/

body {
	display: block;
}
h1 {
	margin: 0;
 font-family: "SourceSansPro-SemiBold", Helvetica, Arial, sans-serif;
}
p{
		margin: 0;
	 font-family: "SourceSansPro-ExtraLight", Helvetica, Arial, sans-serif;

}
a {
	margin: 0;
	font-family: "SourceSansPro-Light", Helvetica, Arial, sans-serif;
}

img {
	margin: 0;
}
.video-container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	z-index: 0;
}
.iceland {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
	background-color: transparent;
}
#video {
	opacity: 0;
}
.container {
	position: absolute;
	top: 10%;
	right: 0;
	padding-right: 5em;
}

#box {
	position: relative;
	background: rgba(255, 255, 255, 0.5);
	width: 27em;
	border: 1px solid #4444CC;
	transition: 0.8s ease-out;
	z-index:2;
}

#box.open {
	background: rgba(255, 255, 255, 1);
	border: 1px solid #fff;
	transition: 0.8s ease-in;
}

#box-header {
	height: 30%;
	background: #4444CC;
	font-size: 	0.9em;
	color: #fff;
	text-align: right;
}
#box-header h1{
	padding-top: 	0.35em;
	padding-bottom: 	0.5em;
	padding-right: 	0.5em;
	line-height: 	1.2;
}

.social-box {
	padding: 1em 0.5em 0.5em 0.5em;
	height: 100%;
}

.name-box {
	display: inline-block;
	padding-left: 1.0em;
	padding-right: 6.5em;
}

.name-box a {
	font-size: 	1.4em;
	color: #4444CC;
	text-decoration: none;
}

.social {
		display: inline-block;
}

.social img {
	vertical-align: bottom;
 	width: 30px;
}

.more {
	display: block;
	padding: 1.5em;
	padding-left: 1.5em;
	color: #4444CC;
	cursor: pointer;
	font-size: 1.0em;
}
#arrow {
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-o-transform: rotateY(0);
	display: block;
	margin-right: 2em;
	float: left;
	font-size: 1.0em;
	line-height: 1.3em;
	transition: transform 0.28s;
	-webkit-transition: -webkit-transform 0.28s;
	-moz-transition: -moz-transform 0.28s;
}
#arrow.rotated {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
#arrow:after {
	clear: both;
}
#side-box {
	position: relative;
	width: 100%;
	max-width: 27em;
	top: -250px;
	background: rgba(255, 255, 255, 0.5);
	border-right: 1px solid #4444CC;
	border-left: 1px solid #4444CC;
	border-top: 1px solid #4444CC;
	/*transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;*/
	/*transform: perspective(600) rotateX(0deg);
	-webkit-transform: perspective(600) rotateX(00deg);
	-moz-transform: perspective(600) rotateX(0deg);
	-o-transform: perspective(600) rotateX(0deg);
	transform-origin: bottom center;
	-moz-transform-origin: bottom center;
	-o-transform-origin: bottom center;
	-ms-transform-origin: bottom center;*/
	z-index:1;
}

#side-box.open {
	/*transform: perspective(600) rotateX(180deg);
	-webkit-transform: perspective(600) rotateX(180deg);
	-moz-transform: perspective(600) rotateX(180deg);
	-o-transform: perspective(600) rotateX(180deg);*/
	z-index:3;
}

#side-box.animation-complete {} .flipped {
	/*transform: perspective(600) rotateX(180deg);
	-webkit-transform: perspective(600) rotateX(180deg);
	-moz-transform: perspective(600) rotateX(180deg);
	-o-transform: perspective(600) rotateX(180deg);*/
}

#side-box ul {
	list-style: none;
	margin: 25px 35px 0 5px;
	padding: 0;
}
#side-box ul li {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: .9em;
}

/*hidden container*/
#hidden-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0px;
	overflow: auto;
	opacity: 0;
	background-color: #4444CC;
  transition: 0.8s ease-out;
}

#hidden-container.open {
	top:0%;
	opacity: 1;
	transition: 0.8s ease-in;
}

#top, #bottom, #left, #right {
	background: #fff;
	position: absolute;
	}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}

#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}

#top { top: 0; }
#bottom { bottom: 0; }

#hidden-content {
	position: absolute;
	max-width: 50em;
	top: 10%;
	margin-left: 5em;
	z-index: 2;
}

.link-box {
	position: relative;
	padding-bottom: 3em;
	/*max-width: 50em;*/
}

.link {
	font-family: "SourceSansPro-Bold", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 42px;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.link > a {
	position: relative;
	font-family: "SourceSansPro-Bold", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 42px;
	text-decoration: none;
	transition: 0.2s ease-in;
}

.link > a:hover {
	color: #D93D5C;
	transition: 0.2s ease-in;
}

.link > a:before {
	content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #D93D5C;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link > a:hover:before {
	visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* canvas stuff */

#viewport {
	position: absolute;
	margin: 0;
  bottom: 5%;
	z-index:1;
}

#visualization {
	margin: 0px;
}

@media (max-width: 767px) {
	#video {
		display: none;
	}
	.container {
		position: absolute;
		top:0;
		left: 0;
		padding-right: 0em;
		padding-left: 0em;
	}

	#box {
		width: 100%;
		border: 0px solid #4444CC;;
	}

	#box.open {
		border: 0px solid #4444CC;;
	}

	.social-box {
		padding: 0;
		padding-top: 1em;
		right: 10px;
	}

	.name-box {
		padding-left: 1.0em;
		padding-right: 0em;
	}

	.social {
			float: right;
			padding-right: 1em;
	}

	#hidden-container {
		position: relative;
	}
	}

	#hidden-content {
		position: relative;
		padding-top: 1em;
		left: 1em;
	}

	#left, #right, #top, #bottom {
		display: none;
	}
}
