/*Fonts*/

@font-face {
	font-family: SourceSansPro-Bold;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-Bold.ttf);
}
@font-face {
	font-family: SourceSansPro-SemiBold;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-Semibold.ttf);
}
@font-face {
	font-family: SourceSansPro-SemiBoldItalic;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-SemiboldItalic.ttf);
}
@font-face {
	font-family: SourceSansPro-Regular;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-regular.ttf);
}
@font-face {
	font-family: SourceSansPro-Light;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-Light.ttf);
}

@font-face {
	font-family: SourceSansPro-ExtraLight;
	src: url(../assets/fonts/source-pro-sans/SourceSansPro-ExtraLight.ttf);
}

@font-face {
	font-family: Montserrat-Regular;
	src: url(../assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Montserrat-Bold;
	src: url(../assets/fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
	font-family: Futura-Light;
	src: url(../assets/fonts/futura/FuturaStd-Light.otf);
}

@font-face {
	font-family: Futura-Bold;
	src: url(../assets/fonts/futura/FuturaStd-Bold.otf);
}

/*CSS*/

body {
	display: block;
}
h1 {
	margin: 0;
 font-family: "SourceSansPro-SemiBold", Helvetica, Arial, sans-serif;
}
p{
		margin: 0;
	 font-family: "SourceSansPro-ExtraLight", Helvetica, Arial, sans-serif;

}
a {
	margin: 0;
	font-family: "SourceSansPro-Light", Helvetica, Arial, sans-serif;
}

img {
	margin: 0;
}
.video-container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	z-index: 0;
}
.iceland {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
	background-color: transparent;
}
#video {
	opacity: 0;
}
.container {
	position: absolute;
	top: 10%;
	right: 0;
	padding-right: 5em;
}

.jumbo {
	position: fixed;
	top: 50%;
  left: 50%;
  width: 100%;
  font-family: "Futura-Bold", Helvetica, Arial, sans-serif;
  color: #fff;
  transform: translate(-50%, -50%);
	z-index: 1;
  text-align: center;
}

#name {
	font-size: 100px;
	letter-spacing: 6px;
	text-shadow: 2px 2px rgba(0,0,0, 0.4);
}

#title {
	padding-top:0.4em;
	font-size: 40px;
	letter-spacing: 4px;
	text-shadow: 2px 2px rgba(0,0,0, 0.4);
}

.header {
	position: absolute;
	top: 1.5em;
	right: 2.5em;
	z-index:1;
}
.header-link {
	display: inline-block;
	padding-left: 20px;
}

.header-link > a {
	position: relative;
	font-family: "SourceSansPro-Light", Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 24px;
	letter-spacing: 1px;
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s ease-in;
}

.header-link > a:hover {
	transition: 0.2s ease-in;
}

.header-link.red > a:hover {
	color: #D4002C;
}

.header-link.blue > a:hover {
	color: #1079A1;
}

.header-link > a:before {
	content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.header-link.red > a:before {
	background-color: #D4002C;
}

.header-link.blue > a:before {
	background-color: #1079A1;
}

.header-link > a:hover:before {
	visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header > a:hover:before {
	visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.more {
	display: block;
	padding: 1.5em;
	padding-left: 1.5em;
	color: #4444CC;
	cursor: pointer;
	font-size: 1.0em;
}

/*hidden container*/
#hidden-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0px;
	overflow: auto;
	/*opacity: 0;*/
	background-color: #D4002C;
	z-index: 3;
  transition: 0.8s ease-out;
}

#hidden-container.open {
	top:0%;
	/*opacity: 1;*/
	transition: 0.8s ease-in;
}

#hidden-container-about {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0px;
	overflow: auto;
	/*opacity: 0;*/
	background-color: #1079A1;
	z-index: 3;
  transition: 0.8s ease-out;
}

#hidden-container-about.open {
	top:0%;
	/*opacity: 1;*/
	transition: 0.8s ease-in;
}

#top, #bottom, #left, #right {
	background: #fff;
	position: absolute;
	}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}

#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}

#top { top: 0; }
#bottom { bottom: 0; }


.close a{
	display: inline-block;
	position: absolute;
	top: 2.5em;
	right: 2.5em;
}

#exit {
	display: block;
	width: 50px;
	height: 50px;
	background: url('../assets/exit.png') bottom;
	text-indent: -99999px;
	cursor: pointer;
}

#exit:hover {
	background-position: 0 0;
}

#hidden-content {
	position: relative;
	max-width: 80em;
	padding-right: 5em;
	padding-left: 5em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.link-box {
	position: relative;
	padding-bottom: 3em;
	/*max-width: 50em;*/
}

.link {
	font-family: "SourceSansPro-Bold", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 42px;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.link > a {
	position: relative;
	font-family: "SourceSansPro-Bold", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 42px;
	text-decoration: none;
	transition: 0.2s ease-in;
}

.link > a:hover {
	color: #000;
	transition: 0.2s ease-in;
}

.link > a:before {
	content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link > a:hover:before {
	visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* canvas stuff */

#viewport {
	position: absolute;
	margin: 0;
  bottom: 5%;
	z-index:1;
}

#visualization {
	margin: 0px;
}

@media (max-width: 767px) {
	#video {
		display: none;
	}
	.container {
		position: absolute;
		top:0;
		left: 0;
		padding-right: 0em;
		padding-left: 0em;
	}

	#box {
		width: 100%;
		border: 0px solid #4444CC;;
	}

	#box.open {
		border: 0px solid #4444CC;;
	}

	.social-box {
		padding: 0;
		padding-top: 1em;
		right: 10px;
	}

	.name-box {
		padding-left: 1.0em;
		padding-right: 0em;
	}

	.social {
			float: right;
			padding-right: 1em;
	}

	#hidden-container {
		position: relative;
	}

	#hidden-content {
		position: relative;
		padding-top: 1em;
		margin-left: 1em;
	}

	#left, #right, #top, #bottom {
		display: none;
	}
}
